/.idea
/.vs
/Binaries
/Saved
/Content
/DerivedDataCache
/Intermediate
/TagStateMachine.sln
/Plugins/StateMachine/Resources
/Plugins/StateMachine/Binaries
/Plugins/StateMachine/Content
/Plugins/StateMachine/Intermediate
